.card {
	box-shadow: 3px 3px 8px #d2d2d2;
	transition: box-shadow 0.2s ease-out;
}
.card a {
	text-decoration: none;
	color: inherit;
}
.card .img {
	width: 100%;
    height: 350px;
    overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
	border-bottom: 1px solid #d2d2d2;
	background-color: #d2d2d2;
	transition: opacity 0.2s ease-out;
}
.card .description {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card .card-body .footer {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.card .price {
	font-weight: 600;
}
.card .sale {
	font-style: italic;
}

.card:hover {
	box-shadow: 0px 0px 0px #d2d2d2;
}
.card:hover .img {
	opacity: 0.8;
}